<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Olympic Athletes Over Time</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/olympics.css') }}">

  <!-- Plotly and choropleth libraries -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" href="{{ url_for('static', filename='choropleth.js') }}"></script>

  <!-- This script holds the D3 v4 framework/library necessary -->
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-sm navbar-dark" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-md-block">
        <img class="logo rounded-circle" src="{{ url_for('static', filename='img/olympic-rings.jpg') }}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#summary">Project Summary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#viz1">Countries in the Olympics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#viz2">Changes In Olympic Athletic Build Over Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#viz3">Age in the Olympics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#conclusion">Conclusion</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-3  align-items-center" id="summary">
      <div class="w-100">
        <h1 class="mb-0">Evolution of the Olympic <br> Games Over Time</h1>
        <div class="resume-item text-sm-left">
          <div class="resume-content">
            <br><br>
        <h3 class="mb-3">Team: Angie H, Seth N, Ryan Z, Bryan W. 
          <br>Story: To illustrate through visualizations how the Olympic games have evolved over time.  
          <br> Data Source: Kaggle Dataset (CSV) that included 120 years of data related 
            to Olmypic Athletes such as: 
          <br>
              <ul class="csvData" style="padding-top:10px; padding-left:75px">
                <li style="padding-left:10px">Age</li>
                <li style="padding-left:10px">Height</li>
                <li style="padding-left:10px">Weight</li>
                <li style="padding-left:10px">Country</li>
                <li style="padding-left:10px">Sport/Event</li>
                <li style="padding-left:10px">Result</li>
              </ul>
         
          Below are several interactive visualizations we created utilizing this dataset. 
          </div>
        </div> 
      </div>
    </section>

    <hr class="m-1">

    <section class="resume-section p-3 p-lg-5 justify-content-center" id="viz1">
      <div class="w-100">
        <h2 class="mb-5">Participation in the Olympics Over Time</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">

        <div id="choropleth">
          
        </div>
      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 align-items-center" id="viz2">
      <div class="w-100">
        <h2 class="mb-5">Changes In Olympic Athletic Build Over Time</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Select for the trend of interest:</h3>
            <div class="container">
              <t>Select Athletic Build Characteristic:  </t><br><br>
              <select id="selBuild" onchange="buildChanged(this.value)">
                <option value="femaleHeight">Female Height</option>
                <option value="femaleWeight">Female Weight</option>
                <option value="maleHeight">Male Height</option>
                <option value="maleWeight">Male Weight</option>
              </select>
              <div class="row">
            <div class="container-fluid" id="connected_scatter"></div>
              </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-4 p-lg-6 align-items-center" id="viz3">
      <div class="w-100">
        <h2 class="mb-2">Age of Participants in the Olympics</h2>
        <div class="container">
          <t>Select Gender:  </t>
          <select id="selGender" onchange="genderChanged(this.value)">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="row">
            <div class="container-fluid" id="graph"></div>
          </div>
        </div>
        
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 align-items-center" id="conclusion">
      <div class="w-100">
        <h2 class="mb-5">Conclusion</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0"></h3>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.js') }}"></script>
  
  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='resume.js') }}"></script>
  <script src="{{ url_for('static', filename='connectedScatter.js') }}"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>

</html>
